.box-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box-wrap {
    width: 20%;
    min-width: 200px;
    min-height: 250px;
    padding: 10px;
}
.box {
    width: 90%;
    height: 90%;
    
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    border-style: solid;
    border-radius: 8px;
    border-color: #0066cc;
    border-width: 1px;

    word-break: break-all;
}
.box:hover {
    border-color: #00aaff;
}
.box img {
    height: 5vw;
}
.box .tool-title {
    width: 100%;

    font-size: 20px;
    text-align: center;
}
.box .summary {
    font-size: 14px;
}